<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="mobile-fix-option"></div>
    <div id="mobile-search" class="mobile-search-option mobile-search-container hidden">
        <form action="#">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="top-header" *ngIf="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>{{ topBarTitle }}</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>{{ callUs}}: <a href="{{phone}}"
                                    style="color: #578CCF">{{
                                    phoneString }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <ul class="header-dropdown">
                        <li class="onhover-dropdown mobile-account">
                            <i class="fa fa-user" aria-hidden="true"></i> {{myAccountString}}
                            <ul class="onhover-show-div" id="account-menu">
                                <li *ngIf="!loggedIn">
                                    <a href="javascript:void(0)" (click)="login()">Login</a>
                                </li>
                                <li *ngIf="!loggedIn">
                                    <a href="javascript:void(0)" (click)="createAccount()">Create Account</a>
                                </li>
                                <li *ngIf="loggedIn">
                                    <a href="javascript:void(0)" routerLink="/pages/dashboard">Dashboard</a>
                                    <hr>
                                </li>
                                <li *ngIf="loggedIn">
                                    <a href="javascript:void(0)" (click)="logout()">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="onhover-div mobile-search">
                            <a href="javascript:void(0)" (click)="showSearch()"><i class="fa fa-search"
                                    aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <!-- <app-left-menu></app-left-menu> -->
                        <div class="brand-logo">
                            <a routerLink="/home/fashion" id="headerlogo">
                                <img [src]="themeLogo" class="img-fluid" alt="logo" style="max-width: 200px;">
                            </a>
                        </div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <app-menu></app-menu>
                        </div>
                        <div>
                            <app-settings></app-settings>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>