<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 center">
                <h3><b>Password reset request successful</b></h3>
                <p>You should recieve your reset link soon at the email <b>{{email}}</b>.</p>
                <br>
                <b>
                    <p>Can't find the email?</p>
                </b>
                <p>If the email address entered does not match an existing Designica Jewelry account you will not
                    receive an email. Check that the above email address is correct.</p>

                <br>
                <p>You should also check your spam folder</p>
                <br>
                <button class="btn btn-solid" routerLink="/**">Home</button>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->