<app-breadcrumb [title]="'Change Password'" [breadcrumb]="'Change Password'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="margin-left:auto; margin-right:auto;">
                <h3>Change Password</h3>
                <div class="theme-card" style="padding-bottom: 85px;">
                    <form class="theme-form" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="name">Previous Password</label>
                                <input type="password" class="form-control" id="previous"
                                    placeholder="Previous Password" required="" ngModel name="previous" #previous>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="name">New Password</label>
                                <input type="password" class="form-control" id="password" placeholder="New Password"
                                    required="" ngModel name="password" #new (keyup)="password1OnChange()">
                                <p class=".text-danger formError" *ngIf="!passwordsMatch && passwordEntry2Started">
                                    Passwords do not match.</p>
                                <p class=".text-danger formError"
                                    *ngIf="passwordEntryStarted && !passwordContainsLower">Password must contain atleast
                                    1 lowercase value.</p>
                                <p class=".text-danger formError"
                                    *ngIf="passwordEntryStarted && !passwordContainsUppercase">Password must contain
                                    atleast 1 uppercase value.</p>
                                <p class=".text-danger formError"
                                    *ngIf="passwordEntryStarted && !passwordContainsCharacter">Password must contain
                                    atleast 1 special character value.</p>
                                <p class=".text-danger formError"
                                    *ngIf="passwordEntryStarted && !passwordContainsNumber">Password must be atleast 1
                                    number.</p>
                                <p class=".text-danger formError" *ngIf="passwordEntryStarted && !passwordIs8CharsLong">
                                    Password must be atleast 8 characters long.</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="name">Repeat Password</label>
                                <input type="password" class="form-control" id="repeat" placeholder="Repeat Password"
                                    required="" ngModel name="repeat" #repeat (keyup)="password2OnChange()">
                            </div>
                        </div>
                        <button class="btn btn-solid" [disabled]="!f.valid || !passwordIsValid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->